# OS
.DS_Store
.AppleDouble
.LSOverride
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# App specific
uploads/
silence.mp3
test-*.m3u
undone.md

# Generated media files (created by users)
X *.m3u
X *.mp3
X *.txt
X *_concat.txt
save_X *.m3u
Steemer clip.m4a
"X 20230306 Chilling with glaci*"

# IDE
.vscode/
.idea/
*.code-workspace
*.m3u
*.mp3
*.db
.txt
.env
